@import url('https://use.typekit.net/gye0aoe.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--default-font: source-sans-pro, sans-serif;
	--accent-font: pf-mediterra, sans-serif;
	--soft-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

header {
	font-family: var(--accent-font);
	text-shadow: var(--display-shadow);
}

body:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('/bg.png');
	background-size: cover;
	background-position: center;
	opacity: 0.5;
	z-index: -2;
}

body {
	position: relative;
	min-height: 100dvh;
	height: 100%;
	background: #000;
	font-weight: 400;
	font-family: var(--default-font);
	color: #f0f5f6;
}

a {
	@apply underline;
}

a:hover {
	color: #05242e;
}

.call-to-action {
	font-family: var(--accent-font);
	text-shadow: var(--display-shadow);

}